= render 'layouts/header'
.about-container 
  .container
    .row
      .col-sm-12
        .about-inner
          .about-head
            About
.container
  .row
    .col-sm-8
      %h1
        %b What we do
      .hr.hr8.hr-dotted
      %p.lighter.p-larger We help everyday businesses build deeper relationships with their customers through loyalty rewards and sms marketing. 
      %h1
        %b How we do it 
      .hr.hr8.hr-dotted
      %p.lighter.p-larger It is simple, you sign up and get a Dejeuener number. Display that number in your business and ask people to text to it. Optionally, you can offer a prize when they do text that number. Gather subscribers and then market to them with sms at a later date. Dejeuner keeps your customers coming back for seconds. 
      %p.lighter.p-larger Alternatively, you can also use our checkin system with any mobile device or tablet with internet access. Simply go the checkin site and display that to your customers at the pay counter. They enter in their number and instantly get a sms with their reward.
      %h1 
        %b What makes us different? 
      .hr.hr8.hr-dotted
      %p.lighter.p-larger 
        %ul
          %li 
            %p.lighter.p-larger The power of enterpise designed with the simplicity that allows newcomers to instantly use it.
          %li 
            %p.lighter.p-larger No more keywords to remember. Using either our unique Dejeuner number or checkin service customers can more easily sign up for your rewards. 
          %li 
            %p.lighter.p-larger We help you become better. Other services have you sign up and then abandon you. We provide sms templates based on what industry you might be in and tell you the best times to send out these sms's to gain the best customer reaction. The best part is that we also provide scheduling, so you can plan your campaigns for the week ahead, now. 
          %li 
            %p.lighter.p-larger Build deeper relationships with customers. You might have seen other sms marketing services that simply have the customers text in to a keyword for a reward. We keep track of how many times a customer checks in and allow you to create multi-tier rewards at a certain number of check ins for a customer. This builds loyalty and gives customers incentives make multiple returns to your business. For example, after a customer checks in once they might get a free dessert with their meal, but after checking in three times they might get a buy-one-get-onefree entree voucher.
          %li 
            %p.lighter.p-larger No apps, no hassle. Not for you or the customer. Our checkin page is designed for any mobile or tablet device and is simply accessable through the web. 
          %li 
            %p.lighter.p-larger Clear pricing. We do not charge you for the number of contact lists, subscribers, keywords, or anything secondary like the other businesses. With us, you only pay for platform access and the sms's you send out. Even better, all plans have a fourteen day trial period that you are free to cancel at any time.
      %h1 
        %b Wow! How do I get started?
      .hr.hr8.hr-dotted
      %p.lighter.p-larger
        Look at our
        %a{:href => "/pricing"} pricing page
        to figure out a plan best suited for your business, and if you have you have any questions feel free to
        %a{:href => "/contact"} contact us  
    .col-sm-4
      .widget-box.transparent
        .widget-header
          %h4.lighter Questions?
        .widget-body
          %p 
            = link_to 'Contact us', '/contact', class: 'btn btn-block btn-info'
      .widget-box.transparent
        .widget-header
          %h4.lighter Or if you are ready to get started
        .widget-body
          %p 
            = link_to 'Pricing', '/pricing', class: 'btn btn-block btn-info'