= render 'layouts/header'
.about-container 
  .container
    .row
      .col-sm-12
        .about-inner
          .about-head
            About
.container
  .row
    .col-sm-8
      %h1
        %b What we do
      .hr.hr8.hr-dotted
      %p.lighter.p-larger We help everyday businesses leverage the power of sms marketing. 
      %h1
        %b How we do it 
      .hr.hr8.hr-dotted
      %p.lighter.p-larger It is simple, you sign up and get a Dejeuener number. Display that number in your business and ask people to text to it. Optionally, you can offer a prize when they do text that number. Gather subscribers and then market to them with sms at a later date. Dejeuner keeps your customers coming back for seconds. 
      %h1 
        %b What makes us different? 
      .hr.hr8.hr-dotted
      %p.lighter.p-larger 
        At Dejeuner we are focused on keeping things simple for your business. The platform is designed with the power needed for big business but with the simplicity that allows newcomers to instantly use it. We also have simplified pricing. We allow you to make unlimited contact lists for different groups of customers and incoming texts from your customers giving feedback are free. The only thing you will ever pay for at Dejeuner is a simple platform fee plus a flat fee per every sms you send out. 
      %h1 
        %b How do I get started?
      .hr.hr8.hr-dotted
      %p.lighter.p-larger
        Look at our
        %a{:href => "/pricing"} pricing page
        to figure out a plan best suited for your business. 
        If you have any questions feel free to
        %a{:href => "#"} contact us  
    .col-sm-4
      .widget-box.transparent
        .widget-header
          %h4.lighter Questions?
        .widget-body
          %p 
            = link_to 'Contact us', '/contact', class: 'btn btn-block btn-info'
      .widget-box.transparent
        .widget-header
          %h4.lighter Or if you are ready to get started
        .widget-body
          %p 
            = link_to 'Pricing', '/pricing', class: 'btn btn-block btn-info'