= render 'layouts/header'
.about-container 
  .container
    .row
      .col-sm-12
        .about-inner
          .about-head
            About
.container
  .row
    .col-sm-12
      %h1 What we do
      %p We help everyday businesses leverage the power of data-driven marketing with sms's. 
  .row
    .col-sm-12
      %h1 How we do it 
      %p It is simple, you sign up and get a Dejeuener number. Display that number in your business and ask people to text to it. Optionally, you can offer a prize when they do text that number. Gather subscribers and then market to them with sms at a later date. Dejeuner keeps your customers coming back for seconds. 
  .row
    .col-sm-12
      %h1 How do I get started?
      %p 
        Look at our
        %a{:href => "/pricing"} pricing page
        to figure out a plan best suited for your business. 
        If you have any questions feel free to
        %a{:href => "#"} contact us  
