= render 'layouts/header'
.hero 
  .container
    .row.landing-inner
      .col-md-12
        %h1.landing-head Dejeuner
        %h1 Feedback, relationships, and marketings with customers.
        = link_to "Sign In", new_user_session_path, :class => "btn btn-info btn-lg"

.cursive
  %h1.red Dejeuner in three simple steps.

/ begin benefits
.benefits-container
  .container
    .row
      .col-md-4.landing-benefits
        .landing-benefits-inner
          %i.fa.fa-heart.fa-5x
          %h1 Sign up and get a number
          %p Sign up and get your own unique number for your store. Display this number.
      .col-md-4.landing-benefits
        .landing-benefits-inner
          %i.fa.fa-coffee.fa-5x        
          %h1 Create campaigns and get feedback
          %p Create a question you want answered through Dejeuner. Display this question in your store. Customer text feedback on this question to your Dejeuner number.
      .col-md-4.landing-benefits
        .landing-benefits-inner
          %i.fa.fa-bullhorn.fa-5x 
          %h1 Market to customers through SMS
          %p When your customers text you feedback, we store their number and allow you to send mass texts to these customers later. Offer coupons, deals, weekly events, and competitions through SMS.

/ .row.sign-up-landing
/   .col-lg-12
/     = link_to "Sign Up", new_user_registration_path, :class => "btn btn-success btn-lg"