= render 'layouts/header'
.hero 
  .container
    .row.landing-inner
      .col-sm-12
        %h1.landing-head Dejeuner
        %h1.lighter Keep customers coming back for seconds with multi-tier loyalty rewards and sms marketing. Dejeuner not only helps you acquire contacts but market to them through our custom craft-a-sms and scheduling services.
        .center
          = link_to "Sign Up", '/pricing', :class => "btn btn-info btn-lg"
          = link_to "Sign In", new_user_session_path, :class => "btn btn-info btn-lg"
.cursive
  %h1.red Dejeuner in three simple steps.
/ begin benefits
.benefits-container
  .container
    .row
      .col-sm-4.landing-benefits
        .landing-benefits-inner
          %i.fa.fa-heart.fa-5x
          %h1.lighter Sign up and get a number
          %p Sign up and get your own unique number for your store. Display this number.
      .col-sm-4.landing-benefits
        .landing-benefits-inner
          %i.fa.fa-coffee.fa-5x        
          %h1.lighter Create campaigns and get feedback
          %p Create a question you want answered through Dejeuner. Display this question in your store. Customer text feedback on this question to your Dejeuner number.
      .col-sm-4.landing-benefits
        .landing-benefits-inner
          %i.fa.fa-bullhorn.fa-5x 
          %h1.lighter Market to customers with sms
          %p But no marketing expertise required. Our craft-a-sms service will generate a marketing sms for you. And our scheduling service allows you to focus on running your business while we take care of the marketing. 
.landing-shout-out
  .container
    .row
      .col-sm-12
        %h1.lighter.white Simple pricing. No apps to download. No troublesome keywords. Unlimited contact lists. No sms marketing expertise required. Dejeuner works for you.
/ .row.sign-up-landing
/   .col-lg-12
/     = link_to "Sign Up", new_user_registration_path, :class => "btn btn-success btn-lg"