= render 'layouts/header'

.pricing-header
  .container
    .row
      .col-lg-12
        %h1 Pricing Plan
        %h1 Choose the plan best suited for your business. Or try the trial for free.

.container        
  .row 
    .col-lg-3.pricing-table
      %h1.center Trial
      %p Try it for free for 7 days. 
      %ul 
        What's included
        %li Shared phone number
        %li Up to 100 Subscribers
        %li One Marketing Blast
      %ul 
        What your missing
        %li Unique phone number
        %li Higher subscriber limit
        %li Permenant account
      %a{:href => "#", :class => "btn btn-success btn-lg"} Sign Up 
    .col-lg-3.pricing-table
      %h1.center Petite
      %p For small to medium single-location restaurant.
      %ul 
        What's included:
        %li Unique phone number
        %li Up to 500 Subscribers at once
        %li Send out 3 Marketing Blasts per month
        %li Email Support
      %ul 
        What your missing 
        %li Phone Support
        %li Special Analytics
      %a{:href => "#", :class => "btn btn-success btn-lg"} Sign Up 
    .col-lg-3.pricing-table
      %h1.center Moyenne
      %p For medium to large single or multiple location restaurants.
      %ul 
        What's included:
        %li Up to 1500 Subscribers at once 
        %li Send out 5 Marketing Blasts per month 
        %li Phone support
      %ul 
        What your missing
        %li Special Analytics
      %a{:href => "#", :class => "btn btn-success btn-lg"} Sign Up 
    .col-lg-3.pricing-table
      %h1.center Grande
      %p For multiple location restaurants of a greater size
      %ul 
        What's included: 
        %li Up to 5000 Subscribers at once 
        %li Send out 10 Marketing Blasts per month 
        %li Special Analytics 
        %li Phone support
      %ul 
        What your missing
        %li Nothing
      %a{:href => "#", :class => "btn btn-success btn-lg"} Sign Up 

