= render 'layouts/header'
.container
  .row
    .col-sm-12
      .page-header
        %h1 
          Pricing Plans
          %small 
            %i.fa.fa-angle-double-right
            Keep your customers coming back for seconds
.container
  .row
    .col-xs-4.col-sm-3.pricing-span-header
      .widget-box.transparent.pricing-widget 
        .widget-header
          %h5.bigger.lighter Plan Name
        .widget-body
          .widget-main.no-padding
            %ul.list-unstyled.list-striped.pricing-table-header
              %li Unique Dejeuner Number
              %li Subscriber count
              %li Marketing blasts
              %li Email support
              %li Private phone support
              %li Schedule marketing blasts
              %li Special technical support
    .col-xs-8.col-sm-9.pricing-span-body
      .pricing-span
        .widget-box.pricing-box-small
          .widget-header.header-color-red3
            %h5.bigger.lighter Trial
          .widget-body
            .widget-main.no-padding
              %ul.list-unstyled.list-striped.pricing-table
                %li Shared number
                %li 100
                %li Only 5
                %li No
                %li No
                %li No
                %li
                  %i.icon-remove.red
              .price
                %span.label.label-lg.label-inverse.arrowed-in.arrowed-in-right
                  Free!
            %div
              %a.btn.btn-block.btn-sm.btn-danger{:href => "#"}
                %span Sign up
      .pricing-span
        .widget-box.pricing-box-small
          .widget-header.header-color-orange
            %h5.bigger.lighter Petite
          .widget-body
            .widget-main.no-padding
              %ul.list-unstyled.list-striped.pricing-table
                %li 
                  %i.fa.fa-check.green 
                %li 1000
                %li 5 / month
                %li 
                  %i.fa.fa-check.green
                %li 
                  %i.fa.fa-times.red
                %li
                  %i.fa.fa-times.red
                %li 
                  %i.fa.fa-times.red
              .price
                %span.label.label-lg.label-inverse.arrowed-in.arrowed-in-right
                  $49
                  %small /month
            %div
              %a.btn.btn-block.btn-sm.btn-warning{:href => "#"}
                %span Sign up
      .pricing-span
        .widget-box.pricing-box-small
          .widget-header.header-color-blue
            %h5.bigger.lighter Moyenne
          .widget-body
            .widget-main.no-padding
              %ul.list-unstyled.list-striped.pricing-table
                %li
                  %i.fa.fa-check.green
                %li 1500
                %li 10 / month
                %li
                  %i.fa.fa-check.green
                %li
                  %i.fa.fa-check.green
                %li
                  %i.fa.fa-check.green
                %li 
                  %i.fa.fa-times.red
              .price
                %span.label.label-lg.label-inverse.arrowed-in.arrowed-in-right
                  $89
                  %small /month
            %div
              %a.btn.btn-block.btn-sm.btn-primary{:href => "#"}
                %span Sign up
      .pricing-span
        .widget-box.pricing-box-small
          .widget-header.header-color-green
            %h5.bigger.lighter Grande
          .widget-body
            .widget-main.no-padding
              %ul.list-unstyled.list-striped.pricing-table
                %li 
                  %i.fa.fa-check.green
                %li 5,000
                %li 15
                %li
                  %i.fa.fa-check.green
                %li
                  %i.fa.fa-check.green
                %li
                  %i.fa.fa-check.green
                %li 
                  %i.fa.fa-check.green
              .price
                %span.label.label-lg.label-inverse.arrowed-in.arrowed-in-right
                  $149
                  %small /month
            %div
              %a.btn.btn-block.btn-sm.btn-success{:href => "#"}
                %span Sign up
    .col-sm-12
      .page-footer
        %h1 
          More than 5,000 subscribers?
          %a{:href => "#"} Contact us 
          for special prices
