.hero {
  background: white url(/assets/working-coffee-shop-blur.jpg) no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 600px;
  text-align: center; }
  .hero .btn {
    width: 200px; }
  .hero .landing-inner {
    margin-top: 4em; }
    .hero .landing-inner h1 {
      padding: 10px;
      color: white;
      padding-left: 0; }
    .hero .landing-inner .landing-head {
      font-family: 'Yesteryear', cursive;
      font-size: 100px;
      color: white;
      background-color: transparent;
      margin-bottom: 0;
      padding-bottom: 0; }

.cursive {
  margin-top: 10px;
  background-image: url(/assets/ps_neutral.png);
  text-align: center; }
  .cursive h1 {
    font-family: 'Yesteryear', cursive; }

.sign-up-landing {
  text-align: center;
  background-color: #27ae60;
  margin-bottom: 10px;
  height: 100px; }
  .sign-up-landing .btn {
    width: 200px;
    box-shadow: 2px 2px 5px #2c3e50;
    margin-top: 27.5px; }

.landing-benefits {
  margin-top: 10px;
  text-align: center;
  width: 393px;
  height: 380px;
  background-color: #ecf0f1;
  margin-bottom: 10px;
  border-top-left-radius: 3em;
  border-bottom-right-radius: 3em; }
  .landing-benefits img {
    background-color: rgba(231, 76, 60, 0.26);
    padding: 20px;
    border-radius: 5em; }
  .landing-benefits .landing-benefits-inner {
    margin-top: 10px; }
  .landing-benefits:nth-child(n+1) {
    margin-left: 10px; }
  .landing-benefits:first-child {
    margin-left: 0; }
  .landing-benefits p {
    padding-top: 10px; }

.center {
  text-align: center; }

.pricing-header {
  background-image: url(/assets/debut_light_@2X.png); }

.pricing-table {
  border: 1px solid #E74C3C;
  margin-top: 20px;
  height: 400px;
  width: 24%; }
  .pricing-table:nth-child(n+2) {
    margin-left: 10px; }
  .pricing-table .btn {
    position: absolute;
    bottom: 0; }

.alert {
  margin-bottom: 0; }

.margin-top {
  margin-top: 10px; }
