= render 'layouts/header'

.container.main-body
  .row
    = render 'layouts/demo_fixed_nav'
    .col-lg-9.pull-right 
      %ul.nav.nav-tabs.pull-right
        %li.active.campaign-tab
          %a{:href => "#"} Campaign
        %li.feedback-tab
          %a{:href => "#"} Feedback
          
    .col-lg-9.pull-right.campaigns
      %table.table.table-hover.table-bordered.profile-table
        %thead 
          %tr 
            %th 
              %h1 Campaigns
        %tbody 
          %tr 
            %td Number: 
            %td 12674158802
          %tr 
            %td Current: 
            %td What is your favourite bar snack at Tony's Tonics?
          %tr 
            %td Prize: 
            %td 5% off your tab at the end of the night.  
          %tr 
            %td Last: 
            %td Tell us what you think of our new beer selection - Yes or No to Pilsner?
      = link_to "Start New Campaign", '#', :class => "btn btn-large btn-warning pull-right"

    .col-lg-9.pull-right.reviews
      %table.table.table-hover 
        %thead 
          %tr 
            %th Review
            %th Date Received
            %th Number
        %tbody 
          %tr
            %td I enjoyed the pickled sausage the most. 5/5 
            %td Mon, 14 Aug
            %td +%0763427806 
          %tr 
            %td I hated the radish! Boooo. get rid of it.
            %td Mon, 14 Aug
            %td +%0763427806 
          %tr 
            %td Man, I loved the chicken wings.
            %td Mon, 14 Aug
            %td +%0763427806 
          %tr 
            %td Duddddeeee I'm sooooo wasteddiwqoi
            %td Mon, 14 Aug
            %td +%0763427806 
          %tr 
            %td Pilsner sucks!
            %td Mon, 14 Aug
            %td +%0763427806 
