= render 'layouts/header'

.container.main-body
  .row
    = render 'layouts/demo_fixed_nav'
    .col-lg-9.pull-right
      %table.table.table-hover.table-bordered.profile-table
        %thead 
          %tr 
            %th 
              %h1 Profile
        %tbody 
          %tr 
            %td Name: 
            %td Tony Xie
          %tr 
            %td Restaurant: 
            %td Tony's Tonics
          %tr 
            %td Current Plan: 
            %td Petite
      = link_to "Edit Profile", edit_user_registration_path, :class => "btn btn-large btn-info pull-right"