.checkin-hero
  .checkin-header-inner
    %h1 
      Dejeuner for 
      = @user.restaurant
.container
  .row
    .col-xs-12
      .widget-main
        %p By checking in you agree to join our mobile subscribers list. 
        = form_tag do
          .form-group
            = text_field_tag :number, nil, class: "form-control check-in-number", placeholder: "6041234567"                  
            .clearfix.form-actions.center
              = button_tag class: 'btn btn-primary' do 
                %i.fa.fa-check
                Check in