= render 'layouts/header'
#main-container.main-container
  .main-container-inner
    = render 'layouts/sidebar'
    .main-content
      #breadcrumbs.breadcrumbs
        %ul.breadcrumb
          %li
            %i.fa.fa-bullhorn
            %a{:href => "/market"} Marketing
          %li 
            Scheduled messages
        / .breadcrumb
      .page-content
        .page-header
          %h1
            Scheduled messages
        / /.page-header
        .row
          .col-xs-12
            / PAGE CONTENT BEGINS
            = render 'shared/flash'
            .row
              .col-sm-12
                .space
                #calendar
            / PAGE CONTENT ENDS
          / /.col
        / /.row