.container
  .row
    .col-lg-12
      %h1.landing-head Thank you! 
      %p We will be in contact and you will be the first one to know when Dejeuner is fully online.
      = link_to "Back", :back, :class => "btn btn-info btn-lg"