= render 'layouts/header'
#main-container.main-container
  .main-container-inner
    = render 'layouts/sidebar'
    .main-content
      #breadcrumbs.breadcrumbs
        %ul.breadcrumb
          %li
            %i.fa.fa-question
            Help
        / .breadcrumb
      .page-content
        .page-header
          %h1
            Help
            %small
              %i.fa.fa-angle-double-right
              Your questions answered
        / /.page-header
        .row
          .col-xs-12
            / PAGE CONTENT BEGINS
            .tabbable
              %ul#myTab.nav.nav-tabs.padding-18.tab-size-bigger
                %li.active
                  %a{"data-toggle" => "tab", href: "#faq-tab-1"}
                    %i.blue.fa.fa-question-circle.bigger-120
                    How to use
                %li
                  %a{"data-toggle" => "tab", href: "#faq-tab-2"}
                    %i.green.fa.fa-check-circle-o.bigger-120
                    Check ins
                %li
                  %a{"data-toggle" => "tab", href: "#faq-tab-3"}
                    %i.orange.fa.fa-flag.bigger-120
                    Campaigns
                %li
                  %a{"data-toggle" => "tab", href: "#faq-tab-3"}
                    %i.orange.fa.fa-bullhorn.bigger-120
                    Sending out sms's
                / /.dropdown
              .tab-content.no-border.padding-24
                #faq-tab-1.tab-pane.fade.in.active
                  %h4.blue
                    %i.icon-ok.bigger-110
                    How to use
                  %p Dejeuner increases customer retention with loyalty rewards and sms marketing. There are a few main components to Dejeuner: check ins, sms campaigns, and sms broadcasts. For more information on each, click on the corresponding tab above. 
                  %p The general idea of Dejeuner is to be able to improve customer retention through sms marketing. When customers check in from the check in page we save their number for you to later market to in the subscriber panel. Alternatively, when customers text your Dejeuner number they are also subscribed to your list. 
                  %p After building up a sizable subscriber list, you can use our sms functions to market to them. Go to the market tab to start generating sms's and scheduling them to go out to your customers. 
                  .space-8
                  #faq-list-1.panel-group.accordion-style1.accordion-style2
                    .panel.panel-default
                      .panel-heading
                        %a.accordion-toggle.collapsed{"data-parent" => "#faq-list-1", "data-toggle" => "collapse", href: "#faq-1-1"}
                          %i.fa.fa-chevron-left.pull-right{"data-icon-hide" => "icon-chevron-down", "data-icon-show" => "icon-chevron-left"}
                          Getting started
                      #faq-1-1.panel-collapse.collapse
                        .panel-body
                          Check out the campaigns slide
                #faq-tab-2.tab-pane.fade
                  %h4.blue
                    %i.green.icon-user.bigger-110
                    The Check In System
                  .space-8
                  #faq-list-2.panel-group.accordion-style1.accordion-style2
                    .panel.panel-default
                      .panel-heading
                        %a.accordion-toggle.collapsed{"data-parent" => "#faq-list-2", "data-toggle" => "collapse", href: "#faq-2-1"}
                          %i.icon-chevron-right.smaller-80{"data-icon-hide" => "icon-chevron-down align-top", "data-icon-show" => "icon-chevron-right"}
                          \ 
                          Enim eiusmod high life accusamus terry richardson?
                      #faq-2-1.panel-collapse.collapse
                        .panel-body
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                #faq-tab-3.tab-pane.fade
                  %h4.blue
                    %i.orange.icon-credit-card.bigger-110
                    Starting sms campaigns
                  .space-8
                  #faq-list-3.panel-group.accordion-style1.accordion-style2
                    .panel.panel-default
                      .panel-heading
                        %a.accordion-toggle.collapsed{"data-parent" => "#faq-list-3", "data-toggle" => "collapse", href: "#faq-3-1"}
                          %i.icon-plus.smaller-80{"data-icon-hide" => "icon-minus", "data-icon-show" => "icon-plus"}
                          \ 
                          Enim eiusmod high life accusamus terry richardson?
                      #faq-3-1.panel-collapse.collapse
                        .panel-body
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                #faq-tab-4.tab-pane.fade
                  %h4.blue
                    %i.purple.icon-magic.bigger-110
                    Sending out sms broadcasts
                  .space-8
                  #faq-list-4.panel-group.accordion-style1.accordion-style2
                    .panel.panel-default
                      .panel-heading
                        %a.accordion-toggle.collapsed{"data-parent" => "#faq-list-4", "data-toggle" => "collapse", href: "#faq-4-1"}
                          %i.icon-hand-right{"data-icon-hide" => "icon-hand-down", "data-icon-show" => "icon-hand-right"}
                          \ 
                          Enim eiusmod high life accusamus terry richardson?
                      #faq-4-1.panel-collapse.collapse
                        .panel-body
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.  