= render 'layouts/header'

.container.main-body
  .row
    = render 'layouts/fixed_nav'

    .col-lg-9.pull-right
      .profile-inner
        %h1 Profile 
        %h1 Name: Tony Xie 
        %h1 Restaurant: Tony's Tonics
        %h1 Plan: Petite

    .col-lg-9.pull-right
      .message-inner
        %h1 Mass Message
        %h1 Marketing Message
        %h1 Last Message: Come out to Tony's Tonics to try out our new beers on tap and get 50% off all beers from 6-9PM!

    .col-lg-9.pull-right
      .campaign-inner
        %h1 Start New Campaign
        %h1 Current Campaign: What do you think of the latest tonic?
