= render 'layouts/header'
#main-container.main-container
  .main-container-inner
    = render 'layouts/sidebar'
    .main-content
      #breadcrumbs.breadcrumbs
        %ul.breadcrumb
          %li.active
            %a{:href => "/market"} 
            %i.fa.fa-bullhorn
            Marketing
          %li
            credit refill
        / .breadcrumb
      .page-content
        .page-header
          %h1
            Top up on your sms credits
        / /.page-header
        .row
          .col-xs-12
            .row
              .col-sm-6
                .widget-box
                  .widget-header
                    %h4 Create a new campaign
                  .widget-body
                    .widget-main
                      .form-group
                        %label How many credits would you like?
                        %input#sms-credits-desired.float-right{:type => "text", placeholder: 100}/ 
                      .hr.hr16
                      .form-group
                        %label Total Price 
                        %input#sms-credits-price.float-right{:type => "text", :name => "price", placeholder: "$1.50"}/ 
                      .form-group 
                        = link_to new_charge_path(:type => "sms_credit_refill", :num_sms_credits => "100"), class: "btn btn-primary btn-block sms_credit_button", "data-no-turbolink" => 'true' do 
                          %i.fa.fa-credit-card
                          Go to checkout
              .col-sm-6
                %blockquote.green.pull-right
                  %p Price is 1.5 cents per sms credit