= render 'layouts/header'
#main-container.main-container
  .main-container-inner
    = render 'layouts/sidebar'
    .main-content
      #breadcrumbs.breadcrumbs
        %ul.breadcrumb
          %li
            %i.fa.fa-flag 
            Campaigns
        / .breadcrumb
      .page-content
        .page-header
          %h1
            Campaigns
            %small
              %i.fa.fa-angle-double-right
              Feedback and marketing with customers
        / /.page-header
        .row
          .col-xs-12
            .col-sm-6
              .widget-box
                .widget-header
                  %h4.lighter.smaller 
                    %i.fa.fa-question-circle.blue 
                    Current campaign
                .widget-body
                  .widget-main
                    %p
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, saepe, quasi, voluptates ea maxime vitae unde magnam pariatur repellat harum temporibus sit ducimus est explicabo neque quas voluptate incidunt perferendis.
            .col-sm-6
              .widget-box
                .widget-header
                  %h4.lighter.smaller
                    %i.fa.fa-comment.blue
                    Conversations
                