.navbar {
  background-color: #dd5a43;
}

body {
  background-color: #fff;
}

.float-right {
  float: right;
}

.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}

.p-larger {
  font-size: 17px;
}

// campaigns
.campaigns-about-form {
  input {
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
  }
}


// for flash
.alert {
  position: fixed;
  width: 200px;
  z-index: 10000;
  right: 10em;

  .container {
    width: 300px;
    height: 100px;
    background-color: black;
    border-radius: 1em;
    padding: 1em;
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    border: 1px solid transparent;
    border-radius: 4px;
  }
}

// for sessions/new in devise 
.toolbar {
  color: #FE9;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.25);
}

// for pricing tables
.pricing-span, .pricing-widget{
  li {
    height: 60px;
    font-size: 17px;
  }
}

.price {
  .label-lg {
    font-size: 15px;
  }
}

.pricing-span {
  width: 100%;
  max-width: 187px !important;
}

.page-footer {
  margin: 0 0 12px;
  border-top: 1px dotted #e2e2e2;
  padding-top: 16px;
  padding-top: 7px;
  margin-top: 10px;

   h1 {
    padding: 0;
    margin: 0 8px;
    font-size: 24px;
    font-weight: lighter;
    color: black;
  }
}

textarea.market-text-area {
  height: 150px;
}