// for the checkin page. Styling the virtual phone numbers
.check-in-numbers {
  .col-sm-4, .col-sm-8{
    height: 50px;
    text-align: center;
    background-color: rgb(119, 119, 119);
    border: #fff 1px solid;
  }
  p {
    font-size: 25px; 
    font-weight: 700;
    color: #fff;
  }
}

// market text area
.market-text-area {
  font-size: 1.5em;
  color: black;
  &:focus {
    color: black;
  }
}

.schedule-time-box {
  display: none;
}

// for check in page. Make it look nicer
.checkin-hero {
  background: #ffffff image-url("fall-leaves-blur.JPG") no-repeat center center fixed; 
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%; 
  height: 300px; 
  text-align: center;
}

.checkin-header-inner{ 
  h1 {
    font-family: 'Yesteryear', cursive;
    font-size: 100px;
    margin-top: 0;
    padding-top: 10px;
    font-weight: 400;
  }
  color: white;
  background-color: transparent;
  margin-bottom: 0;
  padding-bottom: 0;
}