// header 

.navbar {

  background-color: #E74C3C; 
  height: 50px;
  text-align: center;

  .navbar-bran {
    font-family: 'Yesteryear', cursive;
    color: white;
    font-size: 35px;
    text-shadow: rgba(0,0,0,0.5) 0px 3px 3px;
  }

  .nav {
    color: white;
  }
}

// fixed nav bar 

.nav.nav-stacked {
  position: fixed;
  display: block;
  height: 230px;
  z-index: 1000;
  width: 280px;
  text-align: center;

  a {
    color: white;
    border-radius: 0;
    font-family: 'Raleway', 'san-serif';
    font-weight: '400';
  }

  a:hover {
      background-color: #34495E;
  }

  li {
    background-color: #2C3E50;
  }
}

// main page

.main-body {
  margin-top: 4em;
}

h1 {
  color: #E74C3C;
  text-shadow: rgba(0,0,0,0.5) 0px 1px 1px;
  font-family: 'Raleway', 'san-serif';
  font-weight: 100;
}

h2 {
  font-family: 'Open Sans', 'san-serif';
}

h3 {
  font-family: 'Open Sans', 'san-serif';
}

p {
  font-family: 'Open Sans', 'san-serif';
}

.profile-inner, .campaign-inner, .message-inner {
  text-align: center;
}

// reviews 
table.table {
  color: #e74c3c;
  font-family: 'Open Sans',sans-serif;
  margin-bottom: 5px; 

  thead th {
  }

  tr {
    font-size: 30px;
    height: 50px ;
  }

  td {
  }

}

// random btn margin for main pg
.btn {
  margin-bottom: 20px;
}

.no-margin-top {
  margin-top: 0;
}

// sign in and sign up
form {

  label {
    font-family: 'Raleway', "san-serif"; 
    font-size: 25px;
  }

  .btn {
    margin-top: 10px;
  }
}

.form-sign {
  a {
    font-family: 'Open Sans', 'san-serif';
    font-size: 20px;
  }

  text-align: center;
}
