.hero {
  background: #ffffff image-url("working-coffee-shop-blur.jpg") no-repeat center center fixed; 
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%; 
  height: 700px; 

  .landing-inner {
    margin-top: 7em; 
    text-align: center;

    h1 {
      padding: 10px; 
      color: white; 
    }

    .landing-head {
      font-family: 'Yesteryear', cursive;
      font-size: 100px;
      color: white;
      background-color: transparent;
    }
  }
}

.landing-benefits {
  margin-top: 10px; 
  text-align: center;
  width: 393px;
  height: 270px;
  background-color: #ecf0f1;
  margin-bottom: 10px;

  .landing-benefits-inner {
    margin-top: 10px;
  }

  &:nth-child(n+1){
    margin-left: 10px;
  }

  &:first-child {
    margin-left: 0;
  }
}
