= render 'layouts/header'
.container.main-body
  .row
    = render 'layouts/fixed_nav'

    .col-lg-9
      %h1.no-margin-top Reviews
      %h3 Current Campaign: What is your favourite bar snack at Tony's Tonics?
      %h3 Prize: 5% off your tab at the end of the night. 
      %h3 Number: 12674158802
      %table.table.table-hover 
        %thead 
          %tr 
            %th Review
            %th Number
        %tbody 
        - @reviews.each do |review| 
          %tr 
            %td= review.body
            %td= review.from 
