= render 'layouts/header'

.container.main-body
  .row
    = render 'layouts/fixed_nav'

    .col-lg-9
      %h1 Listing Reviews

      %table.table.table-hover 
        %thead 
          %tr 
            %th Review
            %th Number
        %tbody 
        - @reviews.each do |review| 
          %tr 
            %td= review.body
            %td= review.from 
