= render 'layouts/header'

.container.main-body
  .row
    = render 'layouts/fixed_nav'

    .col-lg-9
      %h1 Listing reviews

      - @reviews.each do |review| 
        .col-lg-5 
          %h3= review.body 
        .col-lg-4
          %h3= review.from