.col-lg-3
  %ul.nav.nav-pills.nav-stacked.nav-fixed
    %li
      %a{:href => main_path }
        %span 
          = image_tag "home-3.png" 
        Dashboard
    %li 
      = link_to "Log Out", destroy_user_session_path, method: :delete
    %li 
      %a{:href => "/reviews"} 
        %span 
          = image_tag "inbox-2.png"
        Reviews
    %li 
      %a{:href => "/mass_message"} 
        %span 
          = image_tag "bullhorn.png"
        Market
