%a.menu-toggler#menu-toggler{:href => "#"} 
  %span.menu-text
#sidebar.sidebar
  / #sidebar-shortcuts
  %ul.nav.nav-list
    %li{:class => ('active' if controller_name() == 'product' && action_name() == 'main') }
      %a{href: "/main"}
        %i.fa.fa-dashboard
        %span.menu-text Dashboard
    %li{:class => ('active' if controller_name() == 'product' && action_name() == 'profile') }
      %a{href: "/profile"}
        %i.fa.fa-user
        %span.menu-text Profile
    %li{:class => ('active' if controller_name() == 'reviews' || controller_name() == 'campaigns') }
      %a.dropdown-toggle{href: "#"}
        %i.fa.fa-flag
        %span.menu-text Campaigns
        %b.arrow.fa.fa-angle-down
      %ul.submenu
        %li{:class => ('active' if controller_name() == 'campaigns' || action_name == 'index')}
          = link_to campaigns_path do 
            %i.fa.fa-angle-double-right
            My campaigns 
        %li
          = link_to new_campaign_path do
            %i.fa.fa-angle-double-right
            New campaign
        %li
          %a{href: "/reviews"}
            %i.fa.fa-angle-double-right
            Reviews
        %li
          %a{href: "#"}
            %i.fa.fa-angle-double-right
            Past campaigns
    %li{:class => ('active' if controller_name() == 'product' && action_name() == 'market') }
      %a.dropdown-toggle{href: "#"}
        %i.fa.fa-comment-o
        %span.menu-text Marketing
        %b.arrow.fa.fa-angle-down
      %ul.submenu
        %li{:class => ('active' if controller_name() == 'product' && action_name() == 'market') }
          %a{href: "/market"}
            %i.fa.fa-angle-double-right
            Send out a blast
        %li
          %a{href: "/contacts"}
            %i.fa.fa-angle-double-right
            Contacts
        %li
          %a{href: "/market/history"}
            %i.fa.fa-angle-double-right
            Marketing history
    %li 
      = link_to destroy_user_session_path, method: :delete do 
        %i.fa.fa-sign-out
        %span.menu-text Log out 
    %li 
      %a{:href => "help"}
        %i.fa.fa-question
        %span.menu-text Help 
  #sidebar-collapse.sidebar-collapse
    %i.fa.fa-angle-double-left{"data-icon1" => "icon-angle-double-left", "data-icon2" => "icon-angle-double-right"}
    %i.fa.fa-angle-double-right{"data-icon1" => "icon-angle-double-left", "data-icon2" => "icon-angle-double-right"}
  / /.nav-list