%a.menu-toggler#menu-toggler{:href => "#"} 
  %span.menu-text
#sidebar.sidebar
  / #sidebar-shortcuts
  %ul.nav.nav-list
    %li{:class => ('active' if controller_name() == 'product' && action_name() == 'main') }
      %a{href: "/main"}
        %i.fa.fa-dashboard
        %span.menu-text Dashboard
    %li{:class => ('active' if controller_name() == 'product' && action_name() == 'profile') }
      %a{href: "/profile"}
        %i.fa.fa-user
        %span.menu-text Profile
    %li{:class => ('active' if controller_name() == 'reviews' || controller_name() == 'campaigns') }
      %a.dropdown-toggle{href: "#"}
        %i.fa.fa-flag
        %span.menu-text Campaigns
        %b.arrow.fa.fa-angle-down
      %ul.submenu
        %li{:class => ('active' if controller_name() == 'campaigns' && action_name == 'index')}
          = link_to campaigns_path do 
            %i.fa.fa-angle-double-right
            My campaigns 
        %li{:class => ('active' if controller_name() == 'campaigns' && action_name == 'new')}
          = link_to new_campaign_path do
            %i.fa.fa-angle-double-right
            New campaign
        %li{:class => ('active' if controller_name() == 'campaigns' && action_name == 'reward')}
          %a{href: "/reward"}
            %i.fa.fa-angle-double-right
            Set reward        
        %li{:class => ('active' if controller_name() == 'reviews' && action_name == 'index')}
          %a{href: "/reviews"}
            %i.fa.fa-angle-double-right
            Reviews
    %li{:class => ('active' if controller_name() == 'check_ins' || controller_name() == 'sms_contacts'|| controller_name() == 'check_in_rewards') }
      %a.dropdown-toggle{href: "#"}
        %i.fa.fa-user
        %span.menu-text Subscribers
        %b.arrow.fa.fa-angle-down
      %ul.submenu
        %li{:class => ('active' if controller_name() == 'sms_contacts' && action_name() == 'index') }
          %a{href: "/subscribers"}
            %i.fa.fa-angle-double-right
            My subscribers            
        %li{:class => ('active' if controller_name() == 'check_ins' && action_name() == 'new') }
          %a{href: "/checkin", "data-no-turbolink" => 'true'}
            %i.fa.fa-angle-double-right
            Check in  
        %li{:class => ('active' if controller_name() == 'check_in_rewards' && action_name() == 'new') }
          %a{href: "/loyalty"}
            %i.fa.fa-angle-double-right
            Loyalty rewards                      
    %li{:class => ('active' if (controller_name() == 'product' && action_name() == 'market') || (controller_name() == 'product' && action_name() == 'generate_sms') || (controller_name() == 'delayed_jobs') || (controller_name() == 'product' && action_name() == 'sms_credit_refill'))}
      %a.dropdown-toggle{href: "#"}
        %i.fa.fa-bullhorn
        %span.menu-text Marketing
        %b.arrow.fa.fa-angle-down
      %ul.submenu
        %li{:class => ('active' if controller_name() == 'product' && action_name() == 'generate_sms') }
          %a{href: "/generate_sms"}
            %i.fa.fa-angle-double-right
            Craft a sms
        %li{:class => ('active' if controller_name() == 'product' && action_name() == 'market') }
          %a{href: "/market"}
            %i.fa.fa-angle-double-right
            Send out a blast
        %li{:class => ('active' if controller_name() == 'product' && action_name() == 'sms_credit_refill') }
          %a{:href => "/sms_credit_refill"}
            Top up on sms credits
        %li{:class => ('active' if controller_name() == 'delayed_jobs' && action_name() == 'index') } 
          %a{:href => "/scheduled_messages"}
            %i.fa.fa-angle-double-right 
            Scheduled messages 
    %li 
      = link_to destroy_user_session_path, method: :delete do 
        %i.fa.fa-sign-out
        %span.menu-text Log out 
    %li 
      %a{:href => "help"}
        %i.fa.fa-question
        %span.menu-text Help 
  #sidebar-collapse.sidebar-collapse
    %i.fa.fa-angle-double-left{"data-icon1" => "icon-angle-double-left", "data-icon2" => "icon-angle-double-right"}
    %i.fa.fa-angle-double-right{"data-icon1" => "icon-angle-double-left", "data-icon2" => "icon-angle-double-right"}
  / /.nav-list